In [ ]:
import os
import pandas as pd
os.getcwd()

'/Users/ruturaj_vasant/Desktop/PersonalProjects/Political-Economy-Of-Corporate-Fraud/scripts/SEC_Documents'

In [38]:
file_path = os.path.join("/Users/ruturaj_vasant/Desktop/PersonalProjects/Political-Economy-Of-Corporate-Fraud/data/XRX/extracted/XRX_2020_SCT.csv")
with open(file_path,"rb") as f:
    content = f.read()
    print(content)

b'nan nan name\xc3\xa2\xc2\xa0&  principal  position,nan nan nan,nan nan year,nan nan year,nan nan nan,nan nan nan,nan nan salary  ($) (a),nan nan salary  ($) (a),nan nan nan,nan nan nan,nan nan bonus  ($) (b),nan nan bonus  ($) (b),nan nan nan,nan nan nan,nan nan stock  awards  ($) (c),nan nan stock  awards  ($) (c),nan nan nan,nan nan nan,nan nan option  awards  ($) (d),nan nan option  awards  ($) (d),nan nan nan,nan nan nan,nan nan non-equity  incentive plan  compensation  ($) (e),nan nan non-equity  incentive plan  compensation  ($) (e),nan nan nan,nan nan nan,nan nan change\xc3\xa2\xc2\xa0in  pension  value and  nqdc  earnings  ($) (f),nan nan nan,nan nan all other  compensation  ($) (g),nan nan all other  compensation  ($) (g),nan nan nan,nan nan nan,nan nan total  ($),nan nan total  ($),nan nan nan\n,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,\nGiovanni (John) Visentin,,,2019,,,,1200000,,,,-,,,,10000029,,,,-,,,,1760400,,,-,,,177005,,,,13137434,\nVice\xc3\x82\xc2\xa0Chairman and Chief\xc3\x82\xc2\xa0Executive Officer,,,2018,,,,756522,,,,1500000,,,,17500045,,,,1572794,,,,1800000,,,-,,,329642,,,,23459003,\n,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,\nSteven J. Bandrowczak,,,2019,,,,525000,,,,-,,,,2500038,,,,-,,,,513450,,,-,,,8139,,,,3546627,\nPresident and Chief\xc3\x82\xc2\xa0Operations Officer,,,2018,,,,272917,,,,300000,,,,3184407,,,,206591,,,,273000,,,-,,,2981,,,,4239896,\n,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,\n"William\xc3\x82\xc2\xa0F.\xc3\x82\xc2\xa0Osbourn, Jr.",,,2019,,,,625000,,,,-,,,,2250020,,,,-,,,,611250,,,-,,,11035,,,,3497305,\nExecutive Vice President and Chief\xc3\x82\xc2\xa0Financial Officer,,,2018,,,,625000,,,,-,,,,1687531,,,,353793,,,,531250,,,-,,,168280,,,,3365854,\nExecutive Vice President and Chief\xc3\x82\xc2\xa0Financial Officer,,,2017,,,,625000,,,,-,,,,3375018,,,,-,,,,825000,,,-,,,200945,,,,5025963,\n,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,\nMichael D. Feldman,,,2019,,,,575000,,,,-,,,,2200012,,,,-,,,,562350,,,-,,,8559,,,,3345921,\nExecutive Vice President,,,2018,,,,575000,,,,300000,,,,1875030,,,,393101,,,,385250,,,-,,,42876,,,,3571257,\nExecutive Vice President,,,2017,,,,575000,,,,-,,,,2500027,,,,-,,,,725000,,,-,,,30371,,,,3830398,\n,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,\nHerv\xc3\x83\xc2\xa9 N. Tessler,,,2019,,,,561272,,,,-,,,,1700018,,,,-,,,,219570,,,-,,,155957,,,,2636817,\nExecutive Vice President,,,2018,,,,573273,,,,238488,,,,1500031,,,,314485,,,,286637,,,210661,,,553797,,,,3677372,\nExecutive Vice President,,,2017,,,,598567,,,,-,,,,2000039,,,,-,,,,796094,,,285861,,,854214,,,,4534775,\n'

In [39]:
df = pd.read_csv(file_path)
print(df.info())
# df.head

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 35 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   nan nan nameâ &  principal  position                             13 non-null     object
 1   nan nan nan                                                      0 non-null      float64
 2   nan nan year                                                     0 non-null      float64
 3   nan nan year.1                                                   13 non-null     float64
 4   nan nan nan.1                                                    0 non-null      float64
 5   nan nan nan.2                                                    0 non-null      float64
 6   nan nan salary  ($) (a)                                          0 non-null      float64
 7   nan nan salary  ($) (a).1                                        13 non-null     float64
 8   nan nan nan.3                                                    0 non-null      float64
 9   nan nan nan.4                                                    0 non-null      float64
 10  nan nan bonus  ($) (b)                                           0 non-null      float64
 11  nan nan bonus  ($) (b).1                                         13 non-null     object
 12  nan nan nan.5                                                    0 non-null      float64
 13  nan nan nan.6                                                    0 non-null      float64
 14  nan nan stock  awards  ($) (c)                                   0 non-null      float64
 15  nan nan stock  awards  ($) (c).1                                 13 non-null     float64
 16  nan nan nan.7                                                    0 non-null      float64
 17  nan nan nan.8                                                    0 non-null      float64
 18  nan nan option  awards  ($) (d)                                  0 non-null      float64
 19  nan nan option  awards  ($) (d).1                                13 non-null     object
 20  nan nan nan.9                                                    0 non-null      float64
 21  nan nan nan.10                                                   0 non-null      float64
 22  nan nan non-equity  incentive plan  compensation  ($) (e)        0 non-null      float64
 23  nan nan non-equity  incentive plan  compensation  ($) (e).1      13 non-null     float64
 24  nan nan nan.11                                                   0 non-null      float64
 25  nan nan nan.12                                                   0 non-null      float64
 26  nan nan changeâ in  pension  value and  nqdc  earnings  ($) (f)  13 non-null     object
 27  nan nan nan.13                                                   0 non-null      float64
 28  nan nan all other  compensation  ($) (g)                         0 non-null      float64
 29  nan nan all other  compensation  ($) (g).1                       13 non-null     float64
 30  nan nan nan.14                                                   0 non-null      float64
 31  nan nan nan.15                                                   0 non-null      float64
 32  nan nan total  ($)                                               0 non-null      float64
 33  nan nan total  ($).1                                             13 non-null     float64
 34  nan nan nan.16                                                   0 non-null      float64
dtypes: float64(31), object(4)
memory usage: 5.1+ KB
None

In [40]:
columns_with_nan = df.columns[df.columns.str.contains('nan')]
# print(columns_with_nan)
col_new_names ={}
for col in columns_with_nan:
    new_name = col.replace('nan', "")
    col_new_names[col] = new_name

df = df.rename(columns=col_new_names)

df.head

<bound method NDFrame.head of                          nameâ &  principal  position      year  year.1  .1  \
0                                                 NaN NaN   NaN     NaN NaN
1                            Giovanni (John) Visentin NaN   NaN  2019.0 NaN
2         ViceÂ Chairman and ChiefÂ Executive Officer NaN   NaN  2018.0 NaN
3                                                 NaN NaN   NaN     NaN NaN
4                               Steven J. Bandrowczak NaN   NaN  2019.0 NaN
5             President and ChiefÂ Operations Officer NaN   NaN  2018.0 NaN
6                                                 NaN NaN   NaN     NaN NaN
7                           WilliamÂ F.Â Osbourn, Jr. NaN   NaN  2019.0 NaN
8   Executive Vice President and ChiefÂ Financial ... NaN   NaN  2018.0 NaN
9   Executive Vice President and ChiefÂ Financial ... NaN   NaN  2017.0 NaN
10                                                NaN NaN   NaN     NaN NaN
11                                 Michael D. Feldman NaN   NaN  2019.0 NaN
12                           Executive Vice President NaN   NaN  2018.0 NaN
13                           Executive Vice President NaN   NaN  2017.0 NaN
14                                                NaN NaN   NaN     NaN NaN
15                                  HervÃ© N. Tessler NaN   NaN  2019.0 NaN
16                           Executive Vice President NaN   NaN  2018.0 NaN
17                           Executive Vice President NaN   NaN  2017.0 NaN

    .2  salary  ($) (a)  salary  ($) (a).1  .3  .4  ...  .12  \
0  NaN              NaN                NaN NaN NaN  ...  NaN
1  NaN              NaN          1200000.0 NaN NaN  ...  NaN
2  NaN              NaN           756522.0 NaN NaN  ...  NaN
3  NaN              NaN                NaN NaN NaN  ...  NaN
4  NaN              NaN           525000.0 NaN NaN  ...  NaN
5  NaN              NaN           272917.0 NaN NaN  ...  NaN
6  NaN              NaN                NaN NaN NaN  ...  NaN
7  NaN              NaN           625000.0 NaN NaN  ...  NaN
8  NaN              NaN           625000.0 NaN NaN  ...  NaN
9  NaN              NaN           625000.0 NaN NaN  ...  NaN
10 NaN              NaN                NaN NaN NaN  ...  NaN
11 NaN              NaN           575000.0 NaN NaN  ...  NaN
12 NaN              NaN           575000.0 NaN NaN  ...  NaN
13 NaN              NaN           575000.0 NaN NaN  ...  NaN
14 NaN              NaN                NaN NaN NaN  ...  NaN
15 NaN              NaN           561272.0 NaN NaN  ...  NaN
16 NaN              NaN           573273.0 NaN NaN  ...  NaN
17 NaN              NaN           598567.0 NaN NaN  ...  NaN

   changeâ in  pension  value and  nqdc  earnings  ($) (f)  .13  \
0                                                 NaN       NaN
1                                                   -       NaN
2                                                   -       NaN
3                                                 NaN       NaN
4                                                   -       NaN
5                                                   -       NaN
6                                                 NaN       NaN
7                                                   -       NaN
8                                                   -       NaN
9                                                   -       NaN
10                                                NaN       NaN
11                                                  -       NaN
12                                                  -       NaN
13                                                  -       NaN
14                                                NaN       NaN
15                                                  -       NaN
16                                             210661       NaN
17                                             285861       NaN

    all other  compensation  ($) (g)  all other  compensation  ($) (g).1  .14  \
0                                NaN                                 NaN  NaN
1                                NaN                            177005.0  NaN
2                                NaN                            329642.0  NaN
3                                NaN                                 NaN  NaN
4                                NaN                              8139.0  NaN
5                                NaN                              2981.0  NaN
6                                NaN                                 NaN  NaN
7                                NaN                             11035.0  NaN
8                                NaN                            168280.0  NaN
9                                NaN                            200945.0  NaN
10                               NaN                                 NaN  NaN
11                               NaN                              8559.0  NaN
12                               NaN                             42876.0  NaN
13                               NaN                             30371.0  NaN
14                               NaN                                 NaN  NaN
15                               NaN                            155957.0  NaN
16                               NaN                            553797.0  NaN
17                               NaN                            854214.0  NaN

    .15  total  ($)  total  ($).1 .16
0   NaN         NaN           NaN NaN
1   NaN         NaN    13137434.0 NaN
2   NaN         NaN    23459003.0 NaN
3   NaN         NaN           NaN NaN
4   NaN         NaN     3546627.0 NaN
5   NaN         NaN     4239896.0 NaN
6   NaN         NaN           NaN NaN
7   NaN         NaN     3497305.0 NaN
8   NaN         NaN     3365854.0 NaN
9   NaN         NaN     5025963.0 NaN
10  NaN         NaN           NaN NaN
11  NaN         NaN     3345921.0 NaN
12  NaN         NaN     3571257.0 NaN
13  NaN         NaN     3830398.0 NaN
14  NaN         NaN           NaN NaN
15  NaN         NaN     2636817.0 NaN
16  NaN         NaN     3677372.0 NaN
17  NaN         NaN     4534775.0 NaN

[18 rows x 35 columns]>

In [44]:
df = df.astype(str)
df = df.replace('nan', '', regex=True)
df = df.dropna()
print(df.info())
df.head

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 35 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0     nameâ &  principal  position                             18 non-null     object
 1                                                              18 non-null     object
 2     year                                                     18 non-null     object
 3     year.1                                                   18 non-null     object
 4     .1                                                       18 non-null     object
 5     .2                                                       18 non-null     object
 6     salary  ($) (a)                                          18 non-null     object
 7     salary  ($) (a).1                                        18 non-null     object
 8     .3                                                       18 non-null     object
 9     .4                                                       18 non-null     object
 10    bonus  ($) (b)                                           18 non-null     object
 11    bonus  ($) (b).1                                         18 non-null     object
 12    .5                                                       18 non-null     object
 13    .6                                                       18 non-null     object
 14    stock  awards  ($) (c)                                   18 non-null     object
 15    stock  awards  ($) (c).1                                 18 non-null     object
 16    .7                                                       18 non-null     object
 17    .8                                                       18 non-null     object
 18    option  awards  ($) (d)                                  18 non-null     object
 19    option  awards  ($) (d).1                                18 non-null     object
 20    .9                                                       18 non-null     object
 21    .10                                                      18 non-null     object
 22    non-equity  incentive plan  compensation  ($) (e)        18 non-null     object
 23    non-equity  incentive plan  compensation  ($) (e).1      18 non-null     object
 24    .11                                                      18 non-null     object
 25    .12                                                      18 non-null     object
 26    changeâ in  pension  value and  nqdc  earnings  ($) (f)  18 non-null     object
 27    .13                                                      18 non-null     object
 28    all other  compensation  ($) (g)                         18 non-null     object
 29    all other  compensation  ($) (g).1                       18 non-null     object
 30    .14                                                      18 non-null     object
 31    .15                                                      18 non-null     object
 32    total  ($)                                               18 non-null     object
 33    total  ($).1                                             18 non-null     object
 34    .16                                                      18 non-null     object
dtypes: object(35)
memory usage: 5.1+ KB
None

<bound method NDFrame.head of                          nameâ &  principal  position   year  year.1 .1 .2  \
0
1                            Giovanni (John) Visentin         2019.0
2         ViceÂ Chairman and ChiefÂ Executive Officer         2018.0
3
4                               Steven J. Bandrowczak         2019.0
5             President and ChiefÂ Operations Officer         2018.0
6
7                           WilliamÂ F.Â Osbourn, Jr.         2019.0
8   Executive Vice President and ChiefÂ Ficial Off...         2018.0
9   Executive Vice President and ChiefÂ Ficial Off...         2017.0
10
11                                 Michael D. Feldman         2019.0
12                           Executive Vice President         2018.0
13                           Executive Vice President         2017.0
14
15                                  HervÃ© N. Tessler         2019.0
16                           Executive Vice President         2018.0
17                           Executive Vice President         2017.0

   salary  ($) (a) salary  ($) (a).1 .3 .4  ... .12  \
0                                           ...
1                          1200000.0        ...
2                           756522.0        ...
3                                           ...
4                           525000.0        ...
5                           272917.0        ...
6                                           ...
7                           625000.0        ...
8                           625000.0        ...
9                           625000.0        ...
10                                          ...
11                          575000.0        ...
12                          575000.0        ...
13                          575000.0        ...
14                                          ...
15                          561272.0        ...
16                          573273.0        ...
17                          598567.0        ...

   changeâ in  pension  value and  nqdc  earnings  ($) (f) .13  \
0
1                                                   -
2                                                   -
3
4                                                   -
5                                                   -
6
7                                                   -
8                                                   -
9                                                   -
10
11                                                  -
12                                                  -
13                                                  -
14
15                                                  -
16                                             210661
17                                             285861

   all other  compensation  ($) (g) all other  compensation  ($) (g).1 .14  \
0
1                                                             177005.0
2                                                             329642.0
3
4                                                               8139.0
5                                                               2981.0
6
7                                                              11035.0
8                                                             168280.0
9                                                             200945.0
10
11                                                              8559.0
12                                                             42876.0
13                                                             30371.0
14
15                                                            155957.0
16                                                            553797.0
17                                                            854214.0

   .15 total  ($) total  ($).1 .16
0
1                   13137434.0
2                   23459003.0
3
4                    3546627.0
5                    4239896.0
6
7                    3497305.0
8                    3365854.0
9                    5025963.0
10
11                   3345921.0
12                   3571257.0
13                   3830398.0
14
15                   2636817.0
16                   3677372.0
17                   4534775.0

[18 rows x 35 columns]>

In [42]:
df.dropna(how="all")
df.head

<bound method NDFrame.head of                          nameâ &  principal  position   year  year.1 .1 .2  \
0
1                            Giovanni (John) Visentin         2019.0
2         ViceÂ Chairman and ChiefÂ Executive Officer         2018.0
3
4                               Steven J. Bandrowczak         2019.0
5             President and ChiefÂ Operations Officer         2018.0
6
7                           WilliamÂ F.Â Osbourn, Jr.         2019.0
8   Executive Vice President and ChiefÂ Ficial Off...         2018.0
9   Executive Vice President and ChiefÂ Ficial Off...         2017.0
10
11                                 Michael D. Feldman         2019.0
12                           Executive Vice President         2018.0
13                           Executive Vice President         2017.0
14
15                                  HervÃ© N. Tessler         2019.0
16                           Executive Vice President         2018.0
17                           Executive Vice President         2017.0

   salary  ($) (a) salary  ($) (a).1 .3 .4  ... .12  \
0                                           ...
1                          1200000.0        ...
2                           756522.0        ...
3                                           ...
4                           525000.0        ...
5                           272917.0        ...
6                                           ...
7                           625000.0        ...
8                           625000.0        ...
9                           625000.0        ...
10                                          ...
11                          575000.0        ...
12                          575000.0        ...
13                          575000.0        ...
14                                          ...
15                          561272.0        ...
16                          573273.0        ...
17                          598567.0        ...

   changeâ in  pension  value and  nqdc  earnings  ($) (f) .13  \
0
1                                                   -
2                                                   -
3
4                                                   -
5                                                   -
6
7                                                   -
8                                                   -
9                                                   -
10
11                                                  -
12                                                  -
13                                                  -
14
15                                                  -
16                                             210661
17                                             285861

   all other  compensation  ($) (g) all other  compensation  ($) (g).1 .14  \
0
1                                                             177005.0
2                                                             329642.0
3
4                                                               8139.0
5                                                               2981.0
6
7                                                              11035.0
8                                                             168280.0
9                                                             200945.0
10
11                                                              8559.0
12                                                             42876.0
13                                                             30371.0
14
15                                                            155957.0
16                                                            553797.0
17                                                            854214.0

   .15 total  ($) total  ($).1 .16
0
1                   13137434.0
2                   23459003.0
3
4                    3546627.0
5                    4239896.0
6
7                    3497305.0
8                    3365854.0
9                    5025963.0
10
11                   3345921.0
12                   3571257.0
13                   3830398.0
14
15                   2636817.0
16                   3677372.0
17                   4534775.0

[18 rows x 35 columns]>

In [43]:
df.to_csv("cleaned_csv.csv")