In [3]:
import os
import pandas as pd
# import lxml as lx
from lxml import html
from glob import glob

import sys, os

# Add the scripts/SEC_Documents folder to Python path
sys.path.append(os.path.abspath("scripts/SEC_Documents"))

from Deepseek_Integration import process_csv_with_deepseek

os.getcwd()

'/Users/ruturaj_vasant/Desktop/PersonalProjects/Political-Economy-Of-Corporate-Fraud/scripts/SEC_Documents'

In [4]:
folder_path = "/Users/ruturaj_vasant/Desktop/PersonalProjects/Political-Economy-Of-Corporate-Fraud/data/MSFT"

files_name = glob(os.path.join(folder_path, "*.html"))
print(f"found {len(files_name)} files")
print(files_name[:5])

for file in files_name[:1]:
    print(f"Processing file: {file}")
    with open(file, "r") as f:
        content = f.read()
        try :
            tree = html.fromstring(content)
            xpath_expr = """
        //tr[
            .//text()[contains(translate(., 'ABCDEFGHIJKLMNOPQRSTUVWXYZ', 'abcdefghijklmnopqrstuvwxyz'), 'name')]
            and .//text()[contains(translate(., 'ABCDEFGHIJKLMNOPQRSTUVWXYZ', 'abcdefghijklmnopqrstuvwxyz'), 'principal')]
            and .//text()[contains(translate(., 'ABCDEFGHIJKLMNOPQRSTUVWXYZ', 'abcdefghijklmnopqrstuvwxyz'), 'position')]
        ]
        """
            tr_node = tree.xpath(xpath_expr)
            print(f"Found {len(tr_node)} matching <tr> nodes in {file}")
            if tr_node:
                table = tr_node[0].getparent()
                # print(f"Table: {html.tostring(table, pretty_print=True).decode('utf-8')}")
                while table is not None and table.tag != 'table':
                    table = table.getparent()
                print(f"Table: {html.tostring(table, pretty_print=True).decode('utf-8')}")

        except Exception as e:
            print(f"Error parsing {file}: {e}")

found 26 files
['/Users/ruturaj_vasant/Desktop/PersonalProjects/Political-Economy-Of-Corporate-Fraud/data/MSFT/2005-09-28_DEF14A.html', '/Users/ruturaj_vasant/Desktop/PersonalProjects/Political-Economy-Of-Corporate-Fraud/data/MSFT/2016-10-18_DEF14A.html', '/Users/ruturaj_vasant/Desktop/PersonalProjects/Political-Economy-Of-Corporate-Fraud/data/MSFT/2000-09-28_DEF14A.html', '/Users/ruturaj_vasant/Desktop/PersonalProjects/Political-Economy-Of-Corporate-Fraud/data/MSFT/2002-09-19_DEF14A.html', '/Users/ruturaj_vasant/Desktop/PersonalProjects/Political-Economy-Of-Corporate-Fraud/data/MSFT/2014-10-20_DEF14A.html']
Processing file: /Users/ruturaj_vasant/Desktop/PersonalProjects/Political-Economy-Of-Corporate-Fraud/data/MSFT/2005-09-28_DEF14A.html
Found 1 matching <tr> nodes in /Users/ruturaj_vasant/Desktop/PersonalProjects/Political-Economy-Of-Corporate-Fraud/data/MSFT/2005-09-28_DEF14A.html
Table: <table align="center" border="0" cellpadding="0" cellspacing="0" style="BORDER-COLLAPSE:COLLAPSE" width="100%">
              <tr>
               <td width="43%">
               </td>
               <td valign="bottom" width="3%">
               </td>
               <td>
               </td>
               <td valign="bottom" width="3%">
               </td>
               <td>
               </td>
               <td>
               </td>
               <td valign="bottom" width="3%">
               </td>
               <td>
               </td>
               <td>
               </td>
               <td valign="bottom" width="3%">
               </td>
               <td>
               </td>
               <td>
               </td>
               <td valign="bottom" width="3%">
               </td>
               <td>
               </td>
               <td valign="bottom" width="3%">
               </td>
               <td>
               </td>
               <td>
               </td>
               <td>
               </td>
              </tr>
              <tr>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td align="center" colspan="5" valign="bottom">
                <font face="ARIAL" size="1">
                 <b>
                  Annual Compensation
                 </b>
                </font>
                <br>
                <hr color="#000000" noshade size="1">
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td align="center" colspan="4" valign="bottom">
                <font face="ARIAL" size="1">
                 <b>
                  Long-Term
                  <br>
                  Compensation Awards
                 </b>
                </font>
                <br>
                <hr color="#000000" noshade size="1">
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td align="center" colspan="2" rowspan="2" valign="bottom">
                <font face="ARIAL" size="1">
                 <b>
                  All Other
                  <br>
                  Compensation
                  <sup>
                   (2)(3)
                  </sup>
                 </b>
                </font>
                <br>
                <hr color="#000000" noshade size="1">
               </td>
               <td rowspan="2" valign="bottom">
                <font size="1">
                </font>
               </td>
              </tr>
              <tr>
               <td valign="bottom">
                <p style="margin-top:0px;margin-bottom:0px">
                 <font face="ARIAL" size="1">
                  <b>
                   Name and Principal Position
                  </b>
                 </font>
                </p>
                <hr align="left" color="#000000" noshade size="1">
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td align="center" valign="bottom">
                <font face="ARIAL" size="1">
                 <b>
                  Year
                 </b>
                </font>
                <br>
                <hr color="#000000" noshade size="1">
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td align="center" colspan="2" valign="bottom">
                <font face="ARIAL" size="1">
                 <b>
                  Salary
                 </b>
                </font>
                <br>
                <hr color="#000000" noshade size="1">
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td align="center" colspan="2" valign="bottom">
                <font face="ARIAL" size="1">
                 <b>
                  Bonus
                  <sup>
                   (1)
                  </sup>
                 </b>
                </font>
                <br>
                <hr color="#000000" noshade size="1">
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td align="center" valign="bottom">
                <font face="ARIAL" size="1">
                 <b>
                  Restricted
                  <br>
                  Stock
                  <br>
                  Award(s)&#160;($)
                 </b>
                </font>
                <br>
                <hr color="#000000" noshade size="1">
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td align="center" valign="bottom">
                <font face="ARIAL" size="1">
                 <b>
                  Securities
                  <br>
                  Underlying
                  <br>
                  Options (#)
                 </b>
                </font>
                <br>
                <hr color="#000000" noshade size="1">
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
              </tr>
              <tr bgcolor="#cceeff">
               <td valign="top">
                <p style="margin-top:0px;margin-bottom:0px; margin-left:1.33em; text-indent:-1.33em">
                 <font face="ARIAL" size="2">
                  Steven A. Ballmer
                 </font>
                </p>
                <p style="margin-top:0px;margin-bottom:1px; margin-left:1.33em; text-indent:-1.33em">
                 <font face="ARIAL" size="2">
                  Chief Executive Officer; Director
                 </font>
                </p>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td align="right" valign="bottom">
                <font face="ARIAL" size="2">
                 2005
                 <br>
                 2004
                 <br>
                 2003
                </font>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td valign="bottom">
                <font face="ARIAL" size="2">
                 $
                 <br>
                 <br>
                </font>
               </td>
               <td align="right" valign="bottom">
                <font face="ARIAL" size="2">
                 600,000
                 <br>
                 591,667
                 <br>
                 550,000
                </font>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td valign="bottom">
                <font face="ARIAL" size="2">
                 $
                </font>
                <br>
                <font face="ARIAL" size="2">
                </font>
                <br>
                <font face="ARIAL" size="2">
                </font>
               </td>
               <td align="right" valign="bottom">
                <font face="ARIAL" size="2">
                 400,000
                </font>
                <br>
                <font face="ARIAL" size="2">
                 310,000
                </font>
                <br>
                <font face="ARIAL" size="2">
                 313,447
                </font>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td align="right" colspan="1" valign="bottom">
                <font face="ARIAL" size="2">
                 &#8211;
                </font>
                <br>
                <font face="ARIAL" size="2">
                 &#8211;
                </font>
                <br>
                <font face="ARIAL" size="2">
                 &#8211;
                </font>
               </td>
               <td colspan="1" nowrap valign="bottom">
                <font face="ARIAL" size="2">
                </font>
                <br>
                <font face="ARIAL" size="2">
                </font>
                <br>
                <font face="ARIAL" size="2">
                </font>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td align="right" valign="bottom">
                <font face="ARIAL" size="2">
                 &#8211;
                </font>
                <br>
                <font face="ARIAL" size="2">
                 &#8211;
                </font>
                <br>
                <font face="ARIAL" size="2">
                 &#8211;
                </font>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td valign="bottom">
                <font face="ARIAL" size="2">
                 $
                 <br>
                 <br>
                </font>
               </td>
               <td align="right" valign="bottom">
                <font face="ARIAL" size="2">
                 9,073
                 <br>
                 8,937
                 <br>
                 8,931
                </font>
               </td>
               <td nowrap valign="bottom">
                <font face="ARIAL" size="2">
                 <br>
                 <br>
                </font>
               </td>
              </tr>
              <tr>
               <td valign="top">
                <p style="margin-top:0px;margin-bottom:0px">
                 <font face="ARIAL" size="2">
                  William H. Gates III
                 </font>
                </p>
                <p style="margin-top:0px;margin-bottom:1px">
                 <font face="ARIAL" size="2">
                  Chairman; Chief Software Architect;
Director
                 </font>
                </p>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td align="right" valign="bottom">
                <font face="ARIAL" size="2">
                 2005
                 <br>
                 2004
                 <br>
                 2003
                </font>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td valign="bottom">
                <font face="ARIAL" size="2">
                 <br>
                 <br>
                </font>
               </td>
               <td align="right" valign="bottom">
                <font face="ARIAL" size="2">
                 600,000
                 <br>
                 591,667
                 <br>
                 550,000
                </font>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td valign="bottom">
                <font face="ARIAL" size="2">
                </font>
                <br>
                <font face="ARIAL" size="2">
                </font>
                <br>
                <font face="ARIAL" size="2">
                </font>
               </td>
               <td align="right" valign="bottom">
                <font face="ARIAL" size="2">
                 400,000
                </font>
                <br>
                <font face="ARIAL" size="2">
                 310,000
                </font>
                <br>
                <font face="ARIAL" size="2">
                 313,447
                </font>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td align="right" colspan="1" valign="bottom">
                <font face="ARIAL" size="2">
                 &#8211;
                </font>
                <br>
                <font face="ARIAL" size="2">
                 &#8211;
                </font>
                <br>
                <font face="ARIAL" size="2">
                 &#8211;
                </font>
               </td>
               <td colspan="1" nowrap valign="bottom">
                <font face="ARIAL" size="2">
                </font>
                <br>
                <font face="ARIAL" size="2">
                </font>
                <br>
                <font face="ARIAL" size="2">
                </font>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td align="right" valign="bottom">
                <font face="ARIAL" size="2">
                 &#8211;
                </font>
                <br>
                <font face="ARIAL" size="2">
                 &#8211;
                </font>
                <br>
                <font face="ARIAL" size="2">
                 &#8211;
                </font>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td valign="bottom">
                <font face="ARIAL" size="2">
                 <br>
                 <br>
                </font>
               </td>
               <td align="right" valign="bottom">
                <font face="ARIAL" size="2">
                 2,469
                 <br>
                 2,787
                 <br>
                 2,931
                </font>
               </td>
               <td nowrap valign="bottom">
                <font face="ARIAL" size="2">
                 <br>
                 <br>
                </font>
               </td>
              </tr>
              <tr bgcolor="#cceeff">
               <td valign="top">
                <p style="margin-top:0px;margin-bottom:0px">
                 <font face="ARIAL" size="2">
                  Kevin R. Johnson
                 </font>
                </p>
                <p style="margin-top:0px;margin-bottom:1px">
                 <font face="ARIAL" size="2">
                  Co-President,&#160;Microsoft Platform Products&#160;&amp;
Services Division; Group&#160;Vice President
                 </font>
                </p>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td align="right" valign="bottom">
                <font face="ARIAL" size="2">
                 2005
                 <br>
                 2004
                 <br>
                 2003
                </font>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td valign="bottom">
                <font face="ARIAL" size="2">
                 <br>
                 <br>
                </font>
               </td>
               <td align="right" valign="bottom">
                <font face="ARIAL" size="2">
                 502,386
                 <br>
                 480,336
                 <br>
                 379,125
                </font>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td valign="bottom">
                <font face="ARIAL" size="2">
                </font>
                <br>
                <font face="ARIAL" size="2">
                </font>
                <br>
                <font face="ARIAL" size="2">
                </font>
               </td>
               <td align="right" valign="bottom">
                <font face="ARIAL" size="2">
                 550,000
                </font>
                <br>
                <font face="ARIAL" size="2">
                 435,000
                </font>
                <br>
                <font face="ARIAL" size="2">
                 300,000
                </font>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td align="right" colspan="1" valign="bottom">
                <font face="ARIAL" size="2">
                 &#8211;
                </font>
                <br>
                <font face="ARIAL" size="2">
                 &#8211;
                </font>
                <br>
                <font face="ARIAL" size="2">
                 $326,264
                </font>
                <font color="#000000" face="ARIAL" size="1">
                 <sup>
                 </sup>
                </font>
                <font color="#000000" face="ARIAL" size="2">
                </font>
               </td>
               <td colspan="1" nowrap valign="bottom">
                <font face="ARIAL" size="2">
                </font>
                <br>
                <font face="ARIAL" size="2">
                </font>
                <br>
                <font face="ARIAL" size="2">
                </font>
                <font color="#000000" face="ARIAL" size="1">
                 <sup>
                  (5)
                 </sup>
                </font>
                <font color="#000000" face="ARIAL" size="2">
                </font>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td align="right" valign="bottom">
                <font face="ARIAL" size="2">
                 &#8211;
                </font>
                <br>
                <font face="ARIAL" size="2">
                 &#8211;
                </font>
                <br>
                <font face="ARIAL" size="2">
                 600,000
                </font>
               </td>
               <td valign="bottom">
                <font size="1">
                </font>
               </td>
               <td valign="bottom">
                <font face="ARIAL" size="2">
                 <br>
                </font>
                <font color="#000000" face="ARIAL" size="1">
                 <sup>
                 </sup>

In [5]:
# Compare types
# print("Type of table:", type(table))
# print("Type of lxml.html.tostring(table):", type(html.tostring(table)))

# Show what they look like
print("\nPrinting table directly:")
print(table)   # lxml object representation

print("\nPrinting tostring(table):")
print(html.tostring(table)[:300])  # raw HTML string (first 300 chars)

# Try parsing with pandas

Printing table directly:
<Element table at 0x1084d5e00>

Printing tostring(table):
b'<table align="center" border="0" cellpadding="0" cellspacing="0" style="BORDER-COLLAPSE:COLLAPSE" width="100%">\n              <tr>\n               <td width="43%">\n               </td>\n               <td valign="bottom" width="3%">\n               </td>\n               <td>\n               </td>\n       '

In [6]:
df = pd.read_html(html.tostring(table))[0]
print("\nDataFrame head:")
print(df)

DataFrame head:
                                                  0   1                 2   \
0                                                NaN NaN               NaN
1                                                NaN NaN               NaN
2                        Name and Principal Position NaN              Year
3  Steven A. Ballmer  Chief Executive Officer; Di... NaN  2005  2004  2003
4  William H. Gates III  Chairman; Chief Software... NaN  2005  2004  2003
5  Kevin R. Johnson  Co-President, Microsoft Plat... NaN  2005  2004  2003
6  Jeffrey S. Raikes  President, Microsoft Busine... NaN  2005  2004  2003
7  James E. Allchin  Co-President, Microsoft Plat... NaN  2005  2004  2003

   3                    4                          5                    6   \
0 NaN                  NaN                        NaN                  NaN
1 NaN  Annual Compensation        Annual Compensation  Annual Compensation
2 NaN               Salary                     Salary                  NaN
3 NaN                    $  600,000  591,667  550,000                  NaN
4 NaN                  NaN  600,000  591,667  550,000                  NaN
5 NaN                  NaN  502,386  480,336  379,125                  NaN
6 NaN                  NaN  570,000  562,500  522,917                  NaN
7 NaN                  NaN  570,000  558,334  504,168                  NaN

                    7                          8   9   \
0                  NaN                        NaN NaN
1  Annual Compensation        Annual Compensation NaN
2           Bonus  (1)                 Bonus  (1) NaN
3                    $  400,000  310,000  313,447 NaN
4                  NaN  400,000  310,000  313,447 NaN
5                  NaN  550,000  435,000  300,000 NaN
6                  NaN  475,000  400,000  350,000 NaN
7                  NaN  430,000  342,000  350,000 NaN

                                10                              11  \
0                              NaN                             NaN
1   Long-Term  Compensation Awards  Long-Term  Compensation Awards
2  Restricted  Stock  Award(s) ($)                             NaN
3                          –  –  –                             NaN
4                          –  –  –                             NaN
5                   –  –  $326,264                             (5)
6                    –  –  383,840                             (6)
7                    –  –  383,840                             (6)

                               12                                   13  14  \
0                             NaN                                  NaN NaN
1  Long-Term  Compensation Awards       Long-Term  Compensation Awards NaN
2                             NaN  Securities  Underlying  Options (#) NaN
3                             NaN                              –  –  – NaN
4                             NaN                              –  –  – NaN
5                             NaN                        –  –  600,000 NaN
6                             NaN                      –  –  1,300,000 NaN
7                             NaN                      –  –  1,300,000 NaN

                                15                               16   17
0                              NaN                              NaN  NaN
1  All Other  Compensation  (2)(3)  All Other  Compensation  (2)(3)  NaN
2  All Other  Compensation  (2)(3)  All Other  Compensation  (2)(3)  NaN
3                                $              9,073  8,937  8,931  NaN
4                              NaN              2,469  2,787  2,931  NaN
5                              NaN          8,983  1,046,007  8,540  (4)
6                              NaN              7,810  7,758  7,592  NaN
7                              NaN          6,846  1,468,381  6,207  (7)

In [7]:
# df.columns = [
#     " ".join([str(x) for x in col if x and "Unnamed" not in str(x)]).strip()
#     for col in df.columns.values
# ]

df.columns = [
    " ".join(
        [str(x) for x in (col if isinstance(col, tuple) else [col]) if x and "Unnamed" not in str(x)]
    ).strip()
    for col in df.columns.values
]

df = df.applymap(lambda x: str(x).strip() if pd.notna(x) else x)

print("\nCleaned DataFrame head:")
print(df)

Cleaned DataFrame head:
                                                       1                 2  \
0                                                NaN NaN               NaN
1                                                NaN NaN               NaN
2                        Name and Principal Position NaN              Year
3  Steven A. Ballmer  Chief Executive Officer; Di... NaN  2005  2004  2003
4  William H. Gates III  Chairman; Chief Software... NaN  2005  2004  2003
5  Kevin R. Johnson  Co-President, Microsoft Plat... NaN  2005  2004  2003
6  Jeffrey S. Raikes  President, Microsoft Busine... NaN  2005  2004  2003
7  James E. Allchin  Co-President, Microsoft Plat... NaN  2005  2004  2003

    3                    4                          5                    6  \
0 NaN                  NaN                        NaN                  NaN
1 NaN  Annual Compensation        Annual Compensation  Annual Compensation
2 NaN               Salary                     Salary                  NaN
3 NaN                    $  600,000  591,667  550,000                  NaN
4 NaN                  NaN  600,000  591,667  550,000                  NaN
5 NaN                  NaN  502,386  480,336  379,125                  NaN
6 NaN                  NaN  570,000  562,500  522,917                  NaN
7 NaN                  NaN  570,000  558,334  504,168                  NaN

                     7                          8   9  \
0                  NaN                        NaN NaN
1  Annual Compensation        Annual Compensation NaN
2           Bonus  (1)                 Bonus  (1) NaN
3                    $  400,000  310,000  313,447 NaN
4                  NaN  400,000  310,000  313,447 NaN
5                  NaN  550,000  435,000  300,000 NaN
6                  NaN  475,000  400,000  350,000 NaN
7                  NaN  430,000  342,000  350,000 NaN

                                10                              11  \
0                              NaN                             NaN
1   Long-Term  Compensation Awards  Long-Term  Compensation Awards
2  Restricted  Stock  Award(s) ($)                             NaN
3                          –  –  –                             NaN
4                          –  –  –                             NaN
5                   –  –  $326,264                             (5)
6                    –  –  383,840                             (6)
7                    –  –  383,840                             (6)

                               12                                   13  14  \
0                             NaN                                  NaN NaN
1  Long-Term  Compensation Awards       Long-Term  Compensation Awards NaN
2                             NaN  Securities  Underlying  Options (#) NaN
3                             NaN                              –  –  – NaN
4                             NaN                              –  –  – NaN
5                             NaN                        –  –  600,000 NaN
6                             NaN                      –  –  1,300,000 NaN
7                             NaN                      –  –  1,300,000 NaN

                                15                               16   17
0                              NaN                              NaN  NaN
1  All Other  Compensation  (2)(3)  All Other  Compensation  (2)(3)  NaN
2  All Other  Compensation  (2)(3)  All Other  Compensation  (2)(3)  NaN
3                                $              9,073  8,937  8,931  NaN
4                              NaN              2,469  2,787  2,931  NaN
5                              NaN          8,983  1,046,007  8,540  (4)
6                              NaN              7,810  7,758  7,592  NaN
7                              NaN          6,846  1,468,381  6,207  (7)

/var/folders/wq/snfnd7nx5gxb7f385g58spl00000gn/T/ipykernel_10195/4280171313.py:13: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: str(x).strip() if pd.notna(x) else x)

In [8]:
df = df.dropna(axis=1, how='all')  # drop columns where all elements are NaN

print(df)

                                                                     2  \
0                                                NaN               NaN
1                                                NaN               NaN
2                        Name and Principal Position              Year
3  Steven A. Ballmer  Chief Executive Officer; Di...  2005  2004  2003
4  William H. Gates III  Chairman; Chief Software...  2005  2004  2003
5  Kevin R. Johnson  Co-President, Microsoft Plat...  2005  2004  2003
6  Jeffrey S. Raikes  President, Microsoft Busine...  2005  2004  2003
7  James E. Allchin  Co-President, Microsoft Plat...  2005  2004  2003

                     4                          5                    6  \
0                  NaN                        NaN                  NaN
1  Annual Compensation        Annual Compensation  Annual Compensation
2               Salary                     Salary                  NaN
3                    $  600,000  591,667  550,000                  NaN
4                  NaN  600,000  591,667  550,000                  NaN
5                  NaN  502,386  480,336  379,125                  NaN
6                  NaN  570,000  562,500  522,917                  NaN
7                  NaN  570,000  558,334  504,168                  NaN

                     7                          8  \
0                  NaN                        NaN
1  Annual Compensation        Annual Compensation
2           Bonus  (1)                 Bonus  (1)
3                    $  400,000  310,000  313,447
4                  NaN  400,000  310,000  313,447
5                  NaN  550,000  435,000  300,000
6                  NaN  475,000  400,000  350,000
7                  NaN  430,000  342,000  350,000

                                10                              11  \
0                              NaN                             NaN
1   Long-Term  Compensation Awards  Long-Term  Compensation Awards
2  Restricted  Stock  Award(s) ($)                             NaN
3                          –  –  –                             NaN
4                          –  –  –                             NaN
5                   –  –  $326,264                             (5)
6                    –  –  383,840                             (6)
7                    –  –  383,840                             (6)

                               12                                   13  \
0                             NaN                                  NaN
1  Long-Term  Compensation Awards       Long-Term  Compensation Awards
2                             NaN  Securities  Underlying  Options (#)
3                             NaN                              –  –  –
4                             NaN                              –  –  –
5                             NaN                        –  –  600,000
6                             NaN                      –  –  1,300,000
7                             NaN                      –  –  1,300,000

                                15                               16   17
0                              NaN                              NaN  NaN
1  All Other  Compensation  (2)(3)  All Other  Compensation  (2)(3)  NaN
2  All Other  Compensation  (2)(3)  All Other  Compensation  (2)(3)  NaN
3                                $              9,073  8,937  8,931  NaN
4                              NaN              2,469  2,787  2,931  NaN
5                              NaN          8,983  1,046,007  8,540  (4)
6                              NaN              7,810  7,758  7,592  NaN
7                              NaN          6,846  1,468,381  6,207  (7)

In [9]:
output_dir = os.path.join(folder_path, "extracted_jupiter_data")
os.makedirs(output_dir, exist_ok=True)  # create folder if it doesn't exist

output_path = os.path.join(output_dir, "2024_cleaned.csv")
df.to_csv(output_path, index=False)

print(f"Saved cleaned table to {output_path}")

Saved cleaned table to /Users/ruturaj_vasant/Desktop/PersonalProjects/Political-Economy-Of-Corporate-Fraud/data/MSFT/extracted_jupiter_data/2024_cleaned.csv

In [10]:
# Path to your saved cleaned CSV
output_path = os.path.join(folder_path, "extracted_jupiter_data", "1999_cleaned.csv")

# Call DeepSeek on it
process_csv_with_deepseek(output_path, "Convert this SEC Summary Compensation Table into structured JSON")

DeepSeek Response:
 Thinking...
Alright, let's tackle this problem step by step. The user has provided an SEC Summary Compensation Table that needs to be converted into structured JSON. I need to make sure I understand the structure of both the table and the desired output.

First, looking at the table, it seems a bit messy with multiple entries for each person across different years. Each row represents a year for a specific name and position. The columns include Year, Annual Compensation, Salary, Bonus, Long-Term Compensation Awards, Securities Underlying Options, and All Other Compensation.

I notice that the same person appears multiple times, once per year, which suggests that each entry should be treated as a separate object within an array for that individual. So, for example, William H. Gates has entries for 1997, 1998, and 1999, each with their own compensation details.

Next, I need to structure the JSON accordingly. The top-level keys should likely be "name" and "principal_position," followed by an array of "entries." Each entry will represent a year's worth of data, including all the compensation figures and any notes.

I also see that some cells are marked as "NaN," which probably stands for 'Not a Number' or missing data. In JSON, these should be represented appropriately, perhaps with null values or placeholders indicating missing information.

Another consideration is handling the compensation amounts, which are in dollars with commas. These need to be converted into numerical types (like integers) without commas for proper data representation.

I'll also pay attention to fields that sometimes have zero values, as they should still be included in the JSON structure to maintain consistency across entries.

Finally, I'll ensure that the JSON is properly formatted and nested, making it easy to parse and use programmatically. This structured approach will help users quickly access the required compensation data for each individual by year.
...done thinking.

```json
[
  {
    "name": "William H. Gates",
    "principal_position": [
      "Chairman of the Board",
      "Chief Executive Officer",
      "Director"
    ],
    "entries": [
      {
        "year": 1999,
        "annual_compensation": "$400,213",
        "salary": "$223,160",
        "bonus": null,
        "long_term_compensation_awards": null,
        "securities_underlying_options": 0,
        "all_other_compensation": 0
      },
      {
        "year": 1998,
        "annual_compensation": "$368,874",
        "salary": "$173,423",
        "bonus": null,
        "long_term_compensation_awards": null,
        "securities_underlying_options": 0,
        "all_other_compensation": 0
      },
      {
        "year": 1997,
        "annual_compensation": "$349,992",
        "salary": "$241,360",
        "bonus": null,
        "long_term_compensation_awards": null,
        "securities_underlying_options": 0,
        "all_other_compensation": 0
      }
    ]
  },
  {
    "name": "Steven A. Ballmer",
    "principal_position": [
      "President"
    ],
    "entries": [
      {
        "year": 1999,
        "annual_compensation": "$388,392",
        "salary": "$272,181",
        "bonus": null,
        "long_term_compensation_awards": null,
        "securities_underlying_options": 0,
        "all_other_compensation": "$4,800"
      },
      {
        "year": 1998,
        "annual_compensation": "$337,429",
        "salary": "$205,598",
        "bonus": null,
        "long_term_compensation_awards": null,
        "securities_underlying_options": 0,
        "all_other_compensation": "$4,800"
      },
      {
        "year": 1997,
        "annual_compensation": "$316,242",
        "salary": "$265,472",
        "bonus": null,
        "long_term_compensation_awards": null,
        "securities_underlying_options": 0,
        "all_other_compensation": "$5,125"
      }
    ]
  },
  {
    "name": "Robert J. Herbold",
    "principal_position": [
      "Executive Vice President",
      "Chief Operating Officer"
    ],
    "entries": [
      {
        "year": 1999,
        "annual_compensation": "$562,465",
        "salary": "$363,693",
        "bonus": null,
        "long_term_compensation_awards": null,
        "securities_underlying_options": 0,
        "all_other_compensation": "$50,997"
      },
      {
        "year": 1998,
        "annual_compensation": "$535,773",
        "salary": "$572,317",
        "bonus": null,
        "long_term_compensation_awards": null,
        "securities_underlying_options": 0,
        "all_other_compensation": "$76,833"
      },
      {
        "year": 1997,
        "annual_compensation": "$536,127",
        "salary": "$673,096",
        "bonus": null,
        "long_term_compensation_awards": null,
        "securities_underlying_options": 0,
        "all_other_compensation": "$50,094"
      }
    ]
  },
  {
    "name": "Paul A. Maritz",
    "principal_position": [
      "Group Vice President",
      "Developer"
    ],
    "entries": [
      {
        "year": 1999,
        "annual_compensation": "$331,213",
        "salary": "$246,647",
        "bonus": null,
        "long_term_compensation_awards": null,
        "securities_underlying_options": 0,
        "all_other_compensation": "$4,940"
      },
      {
        "year": 1998,
        "annual_compensation": "$311,223",
        "salary": "$205,215",
        "bonus": null,
        "long_term_compensation_awards": null,
        "securities_underlying_options": 0,
        "all_other_compensation": "$5,314"
      },
      {
        "year": 1997,
        "annual_compensation": "$282,084",
        "salary": "$243,105",
        "bonus": null,
        "long_term_compensation_awards": null,
        "securities_underlying_options": 0,
        "all_other_compensation": "$5,025"
      }
    ]
  },
  {
    "name": "Michel Lacombe",
    "principal_position": [
      "Senior Vice President",
      "President, Europe, Middle East, and Africa Region"
    ],
    "entries": [
      {
        "year": 1999,
        "annual_compensation": "$356,983",
        "salary": "$222,796",
        "bonus": null,
        "long_term_compensation_awards": null,
        "securities_underlying_options": 0,
        "all_other_compensation": 0
      },
      {
        "year": 1998,
        "annual_compensation": "$335,570",
        "salary": "$257,503",
        "bonus": null,
        "long_term_compensation_awards": null,
        "securities_underlying_options": 0,
        "all_other_compensation": 0
      },
      {
        "year": 1997,
        "annual_compensation": "$333,951",
        "salary": "$278,050",
        "bonus": null,
        "long_term_compensation_awards": null,
        "securities_underlying_options": 0,
        "all_other_compensation": 0
      }
    ]
  }
]
```
⚠️ Response not valid JSON, saved raw output to /Users/ruturaj_vasant/Desktop/PersonalProjects/Political-Economy-Of-Corporate-Fraud/data/MSFT/extracted_jupiter_data/1999_cleaned_deepseek.txt