In [117]:
import os
import pandas as pd
import lxml as lx
# from lxml import html
from glob import glob

import sys, os

# Add the scripts/SEC_Documents folder to Python path
sys.path.append(os.path.abspath("scripts/SEC_Documents"))

from Deepseek_Integration import process_csv_with_deepseek

os.getcwd()

'/Users/ruturaj_vasant/Desktop/PersonalProjects/Political-Economy-Of-Corporate-Fraud/scripts/SEC_Documents'

In [118]:
folder_path = "/Users/ruturaj_vasant/Desktop/PersonalProjects/Political-Economy-Of-Corporate-Fraud/data/MSFT"

files_name = glob(os.path.join(folder_path, "2024-10-24_DEF14A.html"))
print(f"found {len(files_name)} files")
print(files_name)

for file in files_name[:1]:
    with open(file, "r") as f:
        content = f.read()
        try :
            tree = lx.html.fromstring(content)
            xpath_expr = """
        //tr[
            .//text()[contains(translate(., 'ABCDEFGHIJKLMNOPQRSTUVWXYZ', 'abcdefghijklmnopqrstuvwxyz'), 'name')]
            and .//text()[contains(translate(., 'ABCDEFGHIJKLMNOPQRSTUVWXYZ', 'abcdefghijklmnopqrstuvwxyz'), 'principal')]
            and .//text()[contains(translate(., 'ABCDEFGHIJKLMNOPQRSTUVWXYZ', 'abcdefghijklmnopqrstuvwxyz'), 'position')]
        ]
        """
            tr_node = tree.xpath(xpath_expr)
            print(f"Found {len(tr_node)} matching <tr> nodes in {file}")
            if tr_node:
                table = tr_node[0].getparent()
                # print(f"Table: {lx.html.tostring(table, pretty_print=True).decode('utf-8')}")
                while table is not None and table.tag != 'table':
                    table = table.getparent()
                print(f"Table: {lx.html.tostring(table, pretty_print=True).decode('utf-8')}")

        except Exception as e:
            print(f"Error parsing {file}: {e}")

found 1 files
['/Users/ruturaj_vasant/Desktop/PersonalProjects/Political-Economy-Of-Corporate-Fraud/data/MSFT/2024-10-24_DEF14A.html']
Error parsing /Users/ruturaj_vasant/Desktop/PersonalProjects/Political-Economy-Of-Corporate-Fraud/data/MSFT/2024-10-24_DEF14A.html: Unicode strings with encoding declaration are not supported. Please use bytes input or XML fragments without declaration.

In [119]:
# Compare types
print("Type of table:", type(table))
print("Type of lxml.html.tostring(table):", type(lx.html.tostring(table)))

# Show what they look like
print("\nPrinting table directly:")
print(table)   # lxml object representation

print("\nPrinting tostring(table):")
print(lx.html.tostring(table)[:300])  # raw HTML string (first 300 chars)

# Try parsing with pandas

Type of table: <class 'lxml.html.HtmlElement'>
Type of lxml.html.tostring(table): <class 'bytes'>

Printing table directly:
<Element table at 0x10f331590>

Printing tostring(table):
b'<table align="center" cellpadding="0" cellspacing="0" width="100%">\n    <tr>\n     <th align="left" nowrap rowspan="2" valign="bottom" width="41%">\n      <font face="\'Times New Roman\', Times" size="1">\n       <b>\n        Name and Principal\n     Position\n       </b>\n      </font>\n      <hr align="left'

In [120]:
df = pd.read_html(lx.html.tostring(table))[0]
print("\nDataFrame head:")
print(df)

DataFrame head:
                 Name and Principal  Position Unnamed: 1_level_0  Year         \
                 Name and Principal  Position Unnamed: 1_level_1  Year Year.1
0                            William H. Gates                NaN  1999    NaN
1                      Chairman of the Board;                NaN  1998    NaN
2           Chief Executive Officer; Director                NaN  1997    NaN
3                           Steven A. Ballmer                NaN  1999    NaN
4                                   President                NaN  1998    NaN
5                                         NaN                NaN  1997    NaN
6                           Robert J. Herbold                NaN  1999    NaN
7                   Executive Vice President;                NaN  1998    NaN
8                     Chief Operating Officer                NaN  1997    NaN
9                              Paul A. Maritz                NaN  1999    NaN
10                      Group Vice President,                NaN  1998    NaN
11                                  Developer                NaN  1997    NaN
12                             Michel Lacombe                NaN  1999    NaN
13  Senior Vice President; President, Europe,                NaN  1998    NaN
14             Middle East, and Africa Region                NaN  1997    NaN

   Unnamed: 4_level_0 Annual Compensation                              \
   Unnamed: 4_level_1              Salary Salary.1 Unnamed: 7_level_1
0                 NaN            $400,213      NaN                NaN
1                 NaN              368874      NaN                NaN
2                 NaN              349992      NaN                NaN
3                 NaN              388392      NaN                NaN
4                 NaN              337429      NaN                NaN
5                 NaN              316242      NaN                NaN
6                 NaN              562465      NaN                NaN
7                 NaN              535773      NaN                NaN
8                 NaN              536127      NaN                NaN
9                 NaN              331213      NaN                NaN
10                NaN              311223      NaN                NaN
11                NaN              282084      NaN                NaN
12                NaN              356983      NaN                NaN
13                NaN              335570      NaN                NaN
14                NaN              333951      NaN                NaN

                        Unnamed: 10_level_0  \
    Bonus(1) Bonus(1).1 Unnamed: 10_level_1
0   $223,160        NaN                 NaN
1     173423        NaN                 NaN
2     241360        NaN                 NaN
3     272181        NaN                 NaN
4     205598        NaN                 NaN
5     265472        NaN                 NaN
6     363693        NaN                 NaN
7     572317        NaN                 NaN
8     673096        NaN                 NaN
9     246647        NaN                 NaN
10    205215        NaN                 NaN
11    243105        NaN                 NaN
12    222796        NaN                 NaN
13    257503        NaN                 NaN
14    278050        NaN                 NaN

      Long-Term  Compensation  Awards                                       \
   Securities  Underlying  Options(#) Securities  Underlying  Options(#).1
0                                   0                                  NaN
1                                   0                                  NaN
2                                   0                                  NaN
3                                   0                                  NaN
4                                   0                                  NaN
5                                   0                                  NaN
6                                   0                                  NaN
7                                   0                                  NaN
8                                   0                                  NaN
9                                   0                                  NaN
10                                  0                                  NaN
11                                  0                                  NaN
12                                  0                                  NaN
13                                  0                                  NaN
14                                  0                                  NaN

   Unnamed: 13_level_0        Unnamed: 14_level_0        Unnamed: 15_level_0
   Unnamed: 13_level_1 All Other  Compensation(2) All Other  Compensation(2)
0                  NaN                          0                        NaN
1                  NaN                          0                        NaN
2                  NaN                          0                        NaN
3                  NaN                     $4,800                        NaN
4                  NaN                       4800                        NaN
5                  NaN                       5125                        NaN
6                  NaN                      50997                        NaN
7                  NaN                      76833                        NaN
8                  NaN                      50094                        NaN
9                  NaN                       4940                        NaN
10                 NaN                       5314                        NaN
11                 NaN                       5025                        NaN
12                 NaN                          0                        NaN
13                 NaN                          0                        NaN
14                 NaN                          0                        NaN

In [121]:
df.columns = [
    " ".join([str(x) for x in col if x and "Unnamed" not in str(x)]).strip()
    for col in df.columns.values
]

df = df.applymap(lambda x: str(x).strip() if pd.notna(x) else x)

print("\nCleaned DataFrame head:")
print(df)

Cleaned DataFrame head:
   Name and Principal  Position Name and Principal  Position     Year Year  \
0                                    William H. Gates        NaN      1999
1                              Chairman of the Board;        NaN      1998
2                   Chief Executive Officer; Director        NaN      1997
3                                   Steven A. Ballmer        NaN      1999
4                                           President        NaN      1998
5                                                 NaN        NaN      1997
6                                   Robert J. Herbold        NaN      1999
7                           Executive Vice President;        NaN      1998
8                             Chief Operating Officer        NaN      1997
9                                      Paul A. Maritz        NaN      1999
10                              Group Vice President,        NaN      1998
11                                          Developer        NaN      1997
12                                     Michel Lacombe        NaN      1999
13          Senior Vice President; President, Europe,        NaN      1998
14                     Middle East, and Africa Region        NaN      1997

    Year Year.1     Annual Compensation Salary  Annual Compensation Salary.1  \
0           NaN NaN                   $400,213                           NaN
1           NaN NaN                     368874                           NaN
2           NaN NaN                     349992                           NaN
3           NaN NaN                     388392                           NaN
4           NaN NaN                     337429                           NaN
5           NaN NaN                     316242                           NaN
6           NaN NaN                     562465                           NaN
7           NaN NaN                     535773                           NaN
8           NaN NaN                     536127                           NaN
9           NaN NaN                     331213                           NaN
10          NaN NaN                     311223                           NaN
11          NaN NaN                     282084                           NaN
12          NaN NaN                     356983                           NaN
13          NaN NaN                     335570                           NaN
14          NaN NaN                     333951                           NaN

    Annual Compensation Annual Compensation Bonus(1)  \
0                   NaN                     $223,160
1                   NaN                       173423
2                   NaN                       241360
3                   NaN                       272181
4                   NaN                       205598
5                   NaN                       265472
6                   NaN                       363693
7                   NaN                       572317
8                   NaN                       673096
9                   NaN                       246647
10                  NaN                       205215
11                  NaN                       243105
12                  NaN                       222796
13                  NaN                       257503
14                  NaN                       278050

    Annual Compensation Bonus(1).1      \
0                              NaN NaN
1                              NaN NaN
2                              NaN NaN
3                              NaN NaN
4                              NaN NaN
5                              NaN NaN
6                              NaN NaN
7                              NaN NaN
8                              NaN NaN
9                              NaN NaN
10                             NaN NaN
11                             NaN NaN
12                             NaN NaN
13                             NaN NaN
14                             NaN NaN

   Long-Term  Compensation  Awards Securities  Underlying  Options(#)  \
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                                   0
5                                                   0
6                                                   0
7                                                   0
8                                                   0
9                                                   0
10                                                  0
11                                                  0
12                                                  0
13                                                  0
14                                                  0

    Long-Term  Compensation  Awards Securities  Underlying  Options(#).1      \
0                                                 NaN                    NaN
1                                                 NaN                    NaN
2                                                 NaN                    NaN
3                                                 NaN                    NaN
4                                                 NaN                    NaN
5                                                 NaN                    NaN
6                                                 NaN                    NaN
7                                                 NaN                    NaN
8                                                 NaN                    NaN
9                                                 NaN                    NaN
10                                                NaN                    NaN
11                                                NaN                    NaN
12                                                NaN                    NaN
13                                                NaN                    NaN
14                                                NaN                    NaN

    All Other  Compensation(2)  All Other  Compensation(2)
0                            0                         NaN
1                            0                         NaN
2                            0                         NaN
3                       $4,800                         NaN
4                         4800                         NaN
5                         5125                         NaN
6                        50997                         NaN
7                        76833                         NaN
8                        50094                         NaN
9                         4940                         NaN
10                        5314                         NaN
11                        5025                         NaN
12                           0                         NaN
13                           0                         NaN
14                           0                         NaN

/var/folders/wq/snfnd7nx5gxb7f385g58spl00000gn/T/ipykernel_30984/2095059942.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: str(x).strip() if pd.notna(x) else x)

In [122]:
df = df.dropna(axis=1, how='all')  # drop columns where all elements are NaN

print(df)

   Name and Principal  Position Name and Principal  Position Year Year  \
0                                    William H. Gates             1999
1                              Chairman of the Board;             1998
2                   Chief Executive Officer; Director             1997
3                                   Steven A. Ballmer             1999
4                                           President             1998
5                                                 NaN             1997
6                                   Robert J. Herbold             1999
7                           Executive Vice President;             1998
8                             Chief Operating Officer             1997
9                                      Paul A. Maritz             1999
10                              Group Vice President,             1998
11                                          Developer             1997
12                                     Michel Lacombe             1999
13          Senior Vice President; President, Europe,             1998
14                     Middle East, and Africa Region             1997

   Annual Compensation Salary Annual Compensation Bonus(1)  \
0                    $400,213                     $223,160
1                      368874                       173423
2                      349992                       241360
3                      388392                       272181
4                      337429                       205598
5                      316242                       265472
6                      562465                       363693
7                      535773                       572317
8                      536127                       673096
9                      331213                       246647
10                     311223                       205215
11                     282084                       243105
12                     356983                       222796
13                     335570                       257503
14                     333951                       278050

   Long-Term  Compensation  Awards Securities  Underlying  Options(#)  \
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                                   0
5                                                   0
6                                                   0
7                                                   0
8                                                   0
9                                                   0
10                                                  0
11                                                  0
12                                                  0
13                                                  0
14                                                  0

   All Other  Compensation(2)
0                           0
1                           0
2                           0
3                      $4,800
4                        4800
5                        5125
6                       50997
7                       76833
8                       50094
9                        4940
10                       5314
11                       5025
12                          0
13                          0
14                          0

In [123]:
output_dir = os.path.join(folder_path, "extracted_jupiter_data")
os.makedirs(output_dir, exist_ok=True)  # create folder if it doesn't exist

output_path = os.path.join(output_dir, "2024_cleaned.csv")
df.to_csv(output_path, index=False)

print(f"Saved cleaned table to {output_path}")

Saved cleaned table to /Users/ruturaj_vasant/Desktop/PersonalProjects/Political-Economy-Of-Corporate-Fraud/data/MSFT/extracted_jupiter_data/2024_cleaned.csv

In [124]:
# Path to your saved cleaned CSV
output_path = os.path.join(folder_path, "extracted_jupiter_data", "1999_cleaned.csv")

# Call DeepSeek on it
process_csv_with_deepseek(output_path, "Convert this SEC Summary Compensation Table into structured JSON")

KeyboardInterrupt: